# Ignore everything
# *

# Allow specific directories and files


# Ignore build outputs
bin/
# obj/

# Ignore user-specific files

# Ignore other common files
.vscode/
.vs
.vs/**/*
Examples/obj/
UnitTests/obj/**/*
UnitTests\obj\**\*
.idea/
*.cache

UnitTests/obj/Debug/net9.0/UnitTests.AssemblyInfo.cs
UnitTests/obj/Debug/net9.0/UnitTests.AssemblyInfoInputs.cache

UnitTests/obj/Debug/net9.0/**/*
UnitTests\obj\Debug\net9.0\**\*
/UnitTests/obj/Debug/net9.0/UnitTests.AssemblyInfo.cs
/UnitTests/obj/Debug/net9.0/UnitTests.AssemblyInfoInputs.cache
